<div class="panel-group" id="user-filters">
	<div class="panel panel-info">
		<%= form_tag(:action => "update_user_filters", :method => "post") do %>
    <div class="panel-heading" id="user-filter-header">
      <div class="panel-title">
      	<h3>
        	<span class="clickable" data-target="#user-filter-collapse" data-parent="user-filters" data-toggle="collapse">
          			User Filters 
          			<span class="caret"></span> 
          			
        	</span>
      		<%= button_tag("Update",class: "btn btn-primary")%>
    		</h3>
      </div>
    </div>
    <div id="user-filter-collapse" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
      <div class="panel-body" role="menu">

      	<%= render "admin/dashboard/geographic_filters"%>

				<%= render "admin/dashboard/demographic_filters"%>

				<%= render "admin/dashboard/aquisition_channel_filters"%>
      	
      </div>
    </div>
    <% end %>
  </div>
</div>