<div class="container">
  <div class="row">
    <%= render "users/dashboard_navigation" %>
  </div>
  <div class="row">

    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <h4>User Stats</h4>
      <%= bar_chart @users.group(:role).count.map{|k,v|[User.roles.keys[k].titleize,v]} %>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <h4>Total Partner Revenue By Country</h4>
      <%= pie_chart "users/partner_revenue" %>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <h4>Ciao App User Sign Up Count</h4>
      <%= line_chart "users/ciao_app_user_sign_up" %>
    </div>
  </div>
</div>

