<div class="form-group">
  <%= f.label :employee_size %>
  <%= f.text_field :employee_size, :autofocus => true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :revenue_size %>
  <%= f.text_field :revenue_size, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :city %>
  <%= f.password_field :city, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :country %>
  <%= f.password_field :country, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :zipcode %>
  <%= f.password_field :zipcode, class: 'form-control' %>
</div>
